.tree-view-item-childrenLine {
    width: 20px;
}

    .tree-view-item-childrenLine::after {
        height: 100%;
        display: block;
        margin-left: 10px;
        border-left: 1px solid #ffffff1e;
    }
